<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid ">
    <%= link_to 'Welcome', pages_index_path,class: "navbar-brand logo text-black" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item me-5 ">
            <%= link_to "About Us", pages_about_us_path, class: "nav-link text-black" %>
        </li>
        <li class="nav-item me-5">
            <%= link_to "Contact Us", new_enquiry_path, class: "nav-link " %>
        </li>
        <li class="nav-item me-5 ">
            <%= link_to "Login", users_login_new_path, class: "nav-link" %>
        </li>
        <li class="nav-item me-5">
            <%= link_to "Signup", new_user_path, class: "nav-link " %>
        </li>
       
      </ul>
    </div>
  </div>
</nav>